<style>

.form-field {
    margin-left: 1em;
    margin-bottom: -1.25em;
    width: 12em;
}

</style>

<!-- TODO: add option groups for each distinct map for the grenades-->

<mat-form-field class="form-field">
    <mat-label>Select an area</mat-label>
    <mat-select [(ngModel)]="selectedArea" (selectionChange)="onSelectionChange()">
        <mat-option value="None">-- None --</mat-option>
        <mat-option *ngFor="let area of areas" [value]="area.area">{{ area.area }}</mat-option>
    </mat-select>
</mat-form-field>