<style>

.logo-button {
  background: transparent;
  border: none !important;
  font-size: 0;
  cursor: pointer;
}

.logo-image {
  height: 56px;
  width: auto;
  padding-right: 20px;
}

.toolbar-button {
  height: 50px;
  font-size: 20px;
}

/* This is just being marked as !important for now because these buttons will later be using color='accent' with custom theme */
.active-button {
  background-color: #FFA500 !important;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.nade-type-label {
  padding-right: 15px;
}

.side-label {
  padding-left: 15px;
  padding-right: 15px;
}

</style>

<!-- 
  TODO: Add paramters to the router which will load properties in the Dashboard component
  TODO: Add 'About page', add guides feature for each map
  TODO: Make the styling more consistent and actually use the angular material themes
-->

<mat-toolbar color="primary">
  <button class="logo-button" (click)="updateCurrentMap('all')" routerLink=''>
    <img class="logo-image" src="assets/placeholder_logo.png">
  </button>
  <button mat-button class="toolbar-button" (click)="updateCurrentMap('mirage')" routerLink='mirage' routerLinkActive="active-button">Mirage</button>
  <button mat-button class="toolbar-button" (click)="updateCurrentMap('nuke')" routerLink='nuke' routerLinkActive="active-button">Nuke</button>
  <button mat-button class="toolbar-button" (click)="updateCurrentMap('overpass')" routerLink='overpass' routerLinkActive="active-button">Overpass</button>
  <button mat-button class="toolbar-button" (click)="updateCurrentMap('inferno')" routerLink='inferno' routerLinkActive="active-button">Inferno</button>
  <button mat-button class="toolbar-button" (click)="updateCurrentMap('ancient')" routerLink='ancient' routerLinkActive="active-button">Ancient</button>
    
  <span class="toolbar-spacer"></span>
  <!-- <button mat-button class="toolbar-button" routerLink='/guides' routerLinkActive="active-button">Guides</button> -->
  <!-- <span>About</span> -->
</mat-toolbar>
<mat-toolbar>
  <span class="nade-type-label">Nade type:</span>
  <mat-chip-listbox multiple>
    <mat-chip-option color="primary" selected (selectionChange)="updateFilters('smoke')">Smoke</mat-chip-option>
    <mat-chip-option color="primary" selected (selectionChange)="updateFilters('flash')">Flash</mat-chip-option>
    <mat-chip-option color="primary" selected (selectionChange)="updateFilters('molly')">Molly</mat-chip-option>
    <mat-chip-option color="primary" selected (selectionChange)="updateFilters('he')">HE grenade</mat-chip-option>
    <mat-chip-option color="primary" selected (selectionChange)="updateFilters('boost')">Boost</mat-chip-option>
  </mat-chip-listbox>
  <span class="side-label">Side:</span>
  <mat-chip-listbox>
    <mat-chip-option (click)="updateCurrentSide('all')" color="primary" selected>All</mat-chip-option>
    <mat-chip-option (click)="updateCurrentSide('CT')" color="primary">CT side</mat-chip-option>
    <mat-chip-option (click)="updateCurrentSide('T')" color="primary">T side</mat-chip-option>
  </mat-chip-listbox>
  <area-select [selectedMap]="currentMap"></area-select>
  <span class="toolbar-spacer"></span>
  <search-bar></search-bar>
</mat-toolbar>

<!-- TODO: Ideally, the app dashboard should not be declared here, the router outlet should handle it and display the dashboard
component. But how am I supposed to bind variables from this app component to the dashboard component if the dashboard isn't declared here? -->
<app-dashboard [selectedSide]="currentSide" [selectedFilters]="currentGrenadesFilters"></app-dashboard>
<router-outlet></router-outlet>
