.logo-button {
  background: transparent;
  border: none !important;
  font-size: 0;
  cursor: pointer;
}

.logo-image {
  height: 56px;
  width: auto;
  padding-right: 20px;
}

.toolbar-button {
  height: 50px;
  font-size: 20px;
}

/* This is just being marked as !important for now because these buttons will later be using color='accent' with custom theme */
.active-button {
  background-color: #FFA500 !important;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.nade-type-label {
  padding-right: 15px;
}

.side-label {
  padding-left: 15px;
  padding-right: 15px;
}
