<style>

.logo-button {
  background: transparent;
  border: none !important;
  font-size:0;
  cursor:pointer;
}

.logo-image {
  height: 56px;
  width: auto;
  padding-right: 20px;
}

.toolbar {
  letter-spacing: 1px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-button {
  height: 50px;
  font-size: 20px;
}


/* This is just being marked as !important for now because these buttons will later be using color='accent' with custom theme */
.active-button {
  background-color: #FFA500 !important;
}

</style>

<!-- 
  TODO: Fix the routing so that linking to the route will display the correct filter
  TODO: Add 'About page', add guides feature for each map
  TODO: Make the styling more consistent and actually use the angular material themes

  Before release:
  * Add description, throw type, startingLocation
  * Fill out the list of grenades with all of my actual grenades. I will need to get the real mp4s of all my gifs.
-->

<mat-toolbar class="toolbar" color="primary">
  <button class="logo-button" (click)="updateCurrentMap('all')"><img class="logo-image" src="assets/placeholder_logo.png" routerLink='/'></button>
  <button (click)="updateCurrentMap('mirage')" 
    mat-raised-button color="primary" class="toolbar-button" 
    routerLink='/mirage' routerLinkActive="active-button">Mirage</button>
  <button (click)="updateCurrentMap('overpass')" 
    mat-raised-button color="primary" class="toolbar-button" 
    routerLink='/overpass' routerLinkActive="active-button">Overpass</button>
  <button (click)="updateCurrentMap('nuke')" 
    mat-raised-button color='primary' class="toolbar-button" 
    routerLink='/nuke' routerLinkActive="active-button">Nuke</button>
  <span class="toolbar-spacer"></span>
  <!-- <button mat-button class="toolbar-button" routerLink='/guides' routerLinkActive="active-button">Guides</button> -->
  <!-- <span>About</span> -->
</mat-toolbar>
<app-dashboard [selectedMap]="currentMap"></app-dashboard>
<router-outlet></router-outlet>